{% extends "layout.html" %}
{% block cardclass %}
body {
color: #ffffff;
font-family: Arial, sans-serif;
}

.container {
background-color: #13323bcd;
width: 90%;
margin: 0 auto;
padding: 20px;
border-radius: 15px;
}

.profile-img {
display: block;
width: 150px;
height: 150px;
margin: 0 auto 20px;
border-radius: 10%;
}

h1 {
text-align: center;
}

p {
margin-bottom: 20px;
}

.contact-details {
text-align: left;
}

ul {
list-style-type: none;
padding: 0;
text-align: left;
}

li {
margin-bottom: 10px;
}

{% endblock cardclass %}

{% block cardbody %}
<div class="container">
    <img src="/static/img/about.jpg" alt="Profile Photo" class="profile-img">
    <h1>Vidit Dhull</h1>
    <p style="text-align: center;">Passionate Developer | Data Science Enthusiast | LLMOps Practitioner</p>
    <p style="text-align: center;">Collaborate with me:
        <a href="https://github.com/ViditDhull/" target="_blank">
            <img src="https://img.shields.io/badge/GitHub-black?style=flat-square&logo=github" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/vidit-dhull-045665236" target="_blank">
            <img src="https://img.shields.io/badge/LinkedIn-black?style=flat-square&logo=linkedin" alt="LinkedIn"></a>
        <a href="https://leetcode.com/Vidit_Dhull/" target="_blank">
            <img src="https://img.shields.io/badge/LeetCode-black?style=flat-square&logo=leetcode" alt="LeetCode"></a>
    </p>
    <p>Welcome to LuciusTensors! This website serves as a platform where I unite my interests in technology, data
        engineering,
        and large language models. I'm passionate about coding and crafting innovative projects that leverage the power
        of
        large language models. With a keen interest in data science and machine learning, I find joy in creating
        products and solutions that push the boundaries of technology. When I'm not immersed in the world of code, you
        can find me seeking tranquility in the mountains.<br> I also offer freelance services, so feel free to reach out
        for
        any collaboration or work. Let's turn ideas into reality together!</p>

    <div class="contact-details">
        <h2>Profile Details</h2>
        <ul>
            <li><strong>Name:</strong> Vidit Dhull</li>
            <li><strong>Location:</strong> Bengaluru, India</li>
            <li><strong>Email:</strong> dhullvidit@gmail.com</li>
        </ul>
    </div>

</div>
{% endblock cardbody %}