{% extends "layout.html" %}

{% block cardclass %}
.card {
background-color: #151357d4;
border: none;
height: auto;
width: auto;
max-width: 800px;
margin: 40px auto;
}
.response-code {
font-family: 'Courier New', monospace;
white-space: pre-wrap;
background-color: #212529;
padding: 10px;
}
{% endblock cardclass %}

{% block cardbody %}
<div class="card">
    <form method="POST">
        {% csrf_token %}
        <div class="card text-center text-white" style="background: transparent;">
            <div class="card-body">
                <h5 class="card-title">Code Optimization</h5>
                <p class="card-text">Enter your code for optimization.</p>
                <textarea name="input_code" class="form-control text-white" rows="8"
                    placeholder="Enter your code here..." style="background-color: #e7edee;"></textarea>
                <p></p>
                <button type="submit" class="btn btn-primary">Optimize</button>
            </div>
        </div>
    </form>
    {% if optimized_code %}
    <div class="response-container">
        <div class="card text-white response-card"  style="background: transparent;">
            <div class="card-body">
                <pre class="response-code">{{ optimized_code }}</pre>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock cardbody %}