{% extends "layout.html" %}

{% block cardclass %}
.card {
background-color: #13323bcd;
border: none;
height: auto;
width: auto;
max-width: 800px;
margin: 40px auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
}
.response-code {
font-family: 'Courier New', monospace;
white-space: pre-wrap;
background-color: #212529;
padding: 10px;
}
{% endblock cardclass %}

{% block cardbody %}
<div class="card">
    <form method="POST">
        {% csrf_token %}
        <div class="card text-center text-white" style="background: transparent;">
            <div class="card-body">
                <img src="/static/img/co_card.jpg" class="card-img-top"
                    style="width: 35%; height: 15%; margin-bottom: 2%;" alt="...">
                <h5 class="card-title">Code Optimizer</h5>
                <textarea name="input_code" class="form-control" rows="1" placeholder="Enter your code here..."
                    style="background-color: #e7edee;"></textarea>
                <p></p>
                <button type="submit" class="btn btn-primary">Optimize</button>
                {% if not response %}
                <p class="small text-start text-secondary mt-3">Powered by Gemini-Pro</p>
                <p class="small text-start text-secondary mt-2">
                    Disclaimer: Your input and output data will be processed by Google. We do not store or use your data
                    for any purpose. Kindly be aware and avoid sharing sensitive or personal information.
                </p>
                {% endif %}
            </div>
        </div>
    </form>
    {% if optimized_code %}
    <div class="response-container">
        <div class="card text-white response-card" style="background: transparent;">
            <div class="card-body">
                <pre class="response-code">{{ optimized_code }}</pre>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock cardbody %}