{% extends "layout.html" %}
{% block cardclass %}
.card {
width: 250px;
margin-top: 17%;
margin-left: auto;
margin-right: auto;
max-block-size: auto;
}
.text-center{
margin-top: 40px;
margin-bottom: 10px;
border-radius: 15px;
padding: 12px;
}
.btn-primary {
background-color: #277474; /* Change this color to your desired color */
border-color: #277474; /* Border color */
}
.btn-secondary {
background-color: #505960; /* Change this color to your desired color */
border-color: #505960; /* Border color */
}
{% endblock cardclass %}

{% block cardbody %}

<div class="text-center">
  <h1 class="text-white">LuciusTensors</h1>
  <p class="text-white">Experience the future with our collection of AI-powered products, all in one place.</p>
  <p class="text-white">Discover seamless efficiency and speed through our range of OpenAI API integrated solutions.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-0">

  <div class="col">
    <div class="card h-70" style="margin-top: 5%; background-color: #13323bcd; color: white;">
      <img src="/static/img/summarizer.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Query PDF</h5>
        <p class="card-text">Transform PDFs into interactive knowledge hubs—ask questions, extract insights, and unleash
          the potential of your documents with AI.</p>
        <a href="query_pdf" class="btn btn-primary">Try now&#x2197</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-70" style="margin-top: 5%; background-color: #13323bcd; color: white;">
      <img src="/static/img/query_generator_card.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SQL Query Generator</h5>
        <p class="card-text">Empower your database interactions effortlessly using our AI SQL Query Generator, crafting
          precise queries from your prompts.</p>
        <a href="sql_query_generator" class="btn btn-primary">Try now&#x2197</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-70" style="margin-top: 5%; background-color: #13323bcd; color: white;">
      <img src="/static/img/co_card.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Code Optimizer</h5>
        <p class="card-text">Streamline your code's performance with our AI Code Optimizer, turn input code into
          optimized brilliance.</p>
        <a href="code_optimizer" class="btn btn-primary">Try now&#x2197</a>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <p style="text-align: center;"><a href="privacy_policy" style="text-decoration: none; color: white;">Privacy
      Policy</a>
    |
    <a href="https://github.com/ViditDhull/LuciusTensors" style="text-decoration: none; color: white;"
      target="_blank">GitHub Repository</a>
  </p>
  <p style="color: white;">Made by Vidit Dhull</p>
</div>
{% endblock cardbody %}