{% extends "layout.html" %}
{% block cardclass %}
body {
color: #ffffff;
font-family: Arial, sans-serif;
}

.container {
background-color: #13323bcd;
width: 90%;
margin: 0 auto;
padding: 20px;
border-radius: 15px;
}

h1 {
text-align: center;
}

p {
margin-bottom: 20px;
}

{% endblock cardclass %}

{% block cardbody %}
<div class="container">
    <p>
    <h3>Policy</h3>

    <p style="font-size: 0.9rem;">This Privacy Policy describes how we (LuciusTensors) collect, use, and share
        information when you use our website that offers AI products powered by the OpenAI API.</p>

    <h5>1. Information We Collect</h5>

    <p style="font-size: 0.9rem;">We do not collect any personal user data on our website. Our services are powered by
        the OpenAI API, and as
        such, any data generated or processed by the API is subject to OpenAI's data handling policies.</p>

    <h5>2. OpenAI API Data Handling</h5>

    <p style="font-size: 0.9rem;">Our website utilizes the OpenAI API for AI product functionality. OpenAI may securely
        retain API inputs and
        outputs for up to 30 days to provide services and identify abuse. After 30 days, API inputs and outputs are
        removed from OpenAI systems unless legally required to retain them. You can refer to OpenAI's Platform Docs page
        for more details on data handling.</p>

    <h5>3. Access to Stored Data</h5>

    <p style="font-size: 0.9rem;">Access to API business data stored on OpenAI systems is limited to authorized
        employees who require access for
        engineering support, investigating potential platform abuse, and legal compliance. Additionally, specialized
        third-party contractors may have access, bound by confidentiality and security obligations, solely for reviewing
        abuse and misuse.</p>

    <h5>4. Security Measures</h5>

    <p style="font-size: 0.9rem;">We take reasonable and appropriate measures to protect the information processed
        through the OpenAI API.
        However, it's essential to be aware that data transmitted over the internet is not entirely secure, and we
        cannot guarantee the security of information transmitted to or from our website.</p>

    <h5>6. Changes to this Privacy Policy</h5>

    <p style="font-size: 0.9rem;">We may update this Privacy Policy to reflect changes in our practices or for other
        operational, legal, or
        regulatory reasons. The most recent version of the Privacy Policy will be available on our website.</p>

    <h5>7. Contact Us</h5>

    <p style="font-size: 0.9rem;">If you have any questions about this Privacy Policy or our data practices, please
        contact us at luciustensors@gmail.com.

    </p>
    <p style="font-size: 1rem;">Effective Date: 01 January, 2024</p>
    </p>

</div>
{% endblock cardbody %}