{% extends "layout.html" %}
{% block cardclass %}
.card {
background-color: #13323bcd;
border: none;
height: auto;
width: auto;
max-width: 800px;
margin-top: 40px;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
}
{% endblock cardclass %}

{% block cardbody %}
<div class="card">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card text-center text-white" style="background: transparent;">
            <div class="card-body">
                <img src="/static/img/summarizer.jpg" class="card-img-top"
                    style="width: 35%; height: 15%; margin-bottom: 2%;" alt="...">
                <h5 class="card-title">Query PDF</h5>
                {% if not response %}
                <label for="id_query_pdf_file">Upload PDF (Max size: 20 MB):</label>
                <input type="file" accept=".pdf" name="query_pdf_file" id="id_query_pdf_file" class="form-control">
                <p> </p>
                <input type="text" name="query_pdf_query" class="form-control" placeholder="Enter your query.">
                <p> </p>
                {% endif %}

                {% if response %}
                <input type="text" name="query_pdf_query" class="form-control" placeholder="Enter another query.">
                <p> </p>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% if not response %}
                <p class="small text-start text-secondary mt-3">Powered by GPT-3.5-turbo</p>
                <p class="small text-start text-secondary mt-2">
                    Disclaimer: OpenAI may securely retain API inputs and outputs for up to 30 days to identify abuse.
                    We do not store or use your data for any purpose.
                    Kindly be aware and avoid sharing sensitive or personal information.
                </p>
                {% endif %}
            </div>
        </div>
    </form>
    {% if response %}
    <div class="response-container">
        <div class="card text-white response-card bg-black" style="background: transparent;">
            <div class="card-body">
                <b>Question</b> - {{ query }}
                <br>
                <b>Response</b> - {{ response }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock cardbody %}